<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="ProyectoProgramadolll.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="default" connectionString="Data Source=DESKTOP-H2FEB45;Initial Catalog=Bicycles;Integrated Security=True;MultipleActiveResultSets=True;Application Name=Bicycles APP" providerName="System.Data.SqlClient" />
		<add name="ProyectoProgramadoIII.Properties.Settings.ProyectoProgramacionIIIConnectionString" connectionString="Data Source=DESKTOP-H2FEB45;Initial Catalog=Bicycles;Integrated Security=True" providerName="System.Data.SqlClient" />
		<!--<add name="default" connectionString="Data Source=localhost;Initial Catalog=Bicycles;Integrated Security=True;MultipleActiveResultSets=True;Application Name=Bicycles APP;User ID=utn;Password=123456" providerName="System.Data.SqlClient" /
		<add name="ProyectoProgramadoIII.Properties.Settings.ProyectoProgramacionIIIConnectionString" connectionString="Data Source=localhost;Initial Catalog=Bicycles;Integrated Security=True;User ID=utn;Password=123456" providerName="System.Data.SqlClient" />-->
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<userSettings>
		<ProyectoProgramadolll.Properties.Settings>
			<setting name="Setting" serializeAs="String">
				<value />
			</setting>
		</ProyectoProgramadolll.Properties.Settings>
	</userSettings>
</configuration>